@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: "Sunda_Prada";
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    background-color: cornsilk;
}



a, .btn-link {
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-brand {
    font-size: 3em;
    font-family: "Sunda_Prada";
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.centurygothic{
    font-family: ,
}

.main {
    display: grid;
    min-height: 80vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
@font-face{
    src:url("font/Sunda_Prada.ttf");
}


    .main .head-text {
        grid-column: 2;
        justify-self: center;
        align-self: flex-end;       
        font-weight: 800;
        grid-row: 1;
    }
.head-image {
    grid-row:2/5;
    grid-column: 1/4;   
    background: url("../images/ar1.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
#bottomparagraph {
    grid-row: 5;
    grid-column: 1 / span 3;
    font-size: medium;
    align-self: self-end;
    text-align: center;
    font-weight: 600;
    padding: 50px 50px 0px 51px;
}
.justifymenu {
    justify-content: flex-end;
}



.content {
    padding-top: 4.0rem;
   
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


@media (max-width: 767.98px) {


    .main {
        
         margin-top:2em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    
    .justifymenu {
      
        justify-content:space-evenly
    }
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: row;
        flex-wrap: wrap;        
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        
    }
    .index {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }

        .main .head-text {
            grid-column: 1;
            justify-self: center;
            align-self: flex-end;
            font-weight: 800;
            grid-row: 1;
            font-size: larger;
            text-align: center;
            margin-top: 3em;
        }

    .head-image {
        grid-column: 1;
        grid-row: 2/3;
        background: url("../images/ar1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #bottomparagraph {
        grid-column: 1;
        grid-row: 3;
        font-size: smaller;
        align-self: self-end;
        text-align: center;
        font-weight: 600;
        padding: 20px 10px 0px 10px;
    }
    

}
.btn-primary {
    color: #fff;
    background-color: #d7d7d7;
    border-color: #d7d7d7;
}
@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
  

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem ;
        padding-right: 1.5rem ;
    }

}

