@inherits LayoutComponentBase



<div class="grid" >
    <header class="header">
        <TopNavMenu />
    </header>
   <main class="content">
   @Body
  </main>
  <footer class="footer">
      <p >
          &#169;SiansFlowers 2020
      </p>
</footer>
</div>





