<div class="navbar navbar-expand-sm navbar-toggleable-sm   fixed-top">
   
        <NavLink class="navbar-brand text-dark centurygothic" href="/">Sian's Flowers</NavLink>
      
        <div class="  navbar-collapse d-sm-inline-flex " >
            <ul class="navbar-nav flex-grow-1 text-dark justifymenu">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Weddings">Weddings</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Occasions">Other Occasions</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Gallery">Gallery</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Contact">Contact & Location</NavLink>
                </li>
            </ul>
          
        </div>

 

</div>


@code {

}

