@page "/Contact"

<div class="contactlayout"> 
    <h2 class="pagetitle">Contact & Location</h2>
    <div class="smallrow">
    <div class="address"> 
        <p>
        5 Victoria Buildings<br/>
        Troedyrhiw <br/>
        Merthyr Tydfil<br/>
        CF48 4JT <br/>
       Tel: 01443 690 430</p>
        
    </div>
        
    <div class="openingtimes">  
      
        <table>
            <tr>
                <span>Opening Hours:</span>
            </tr>
        <tr>
            <td>Monday</td>
            <td> 9-5pm</td>
        </tr>
            <tr>
            <td>Tuesday</td>
            <td> 9-5pm</td>
        </tr> <tr>
            <td class="pr-3"> Wednesday</td>
            <td> 9-5pm</td>
        </tr> <tr>
            <td>Thursday</td>
            <td> 9-1pm</td>
        </tr> <tr>
            <td>Friday</td>
            <td> 9-5pm</td>
        </tr> <tr>
            <td>Saturday</td>
            <td> 9-1pm</td>
        </tr>   
        
        </table>
    </div>
    </div>    
    <div class="locationmap">
        
    </div>
</div>





@code {

}
