@page "/Gallery"
@using Blazorade.Bootstrap.Components

<div class="gallery-layout">
  
    <h2 class="page-title">Gallery of Creations</h2>
    <div class="general-carousel-gallery">
        <Carousel AutoStart="false"
                  ShowControls="true"
                  ShowIndicators="true">

            <CarouselItem ImageScaling="ImageScaleMode.Fill"
                          ImageUrl="../images/ar1.jpg">

            </CarouselItem>
            <CarouselItem ImageScaling="ImageScaleMode.Fill"
                          ImageUrl="../images/ar2.jpg">

            </CarouselItem>


        </Carousel>


    </div>
 
</div>

