@page "/"
<div class="main-grid">
    <h2 class="head-text">Blooms & bouquets for all occasions</h2>
    <div class="head-image"></div>
    <p class="bottom-paragraph">
        With over 18 years of experience within the trade, you can  count on Sian’s Flowers to provide stunning flowers at an affordable price to all.

        Situated in Troedyrhiw, near Merthyr Tydfil,  we cover all of South Wales and offer a free delivery service within two miles of our shop. We  receive fresh flowers daily, and whether you're looking for Wedding, Funeral, Birthday, Anniversary or other occasion, come to us for the highest quality  products around!
    </p>
</div>




