@page "/Occasions"



@using Blazorade.Bootstrap.Components

<div class="specfic-layout">

    <h2 class="specfic-page-title">Other Occasions</h2>

    <div class="description">
        <h6> <b>Sian’s Flowers</b></h6>
        <p>
            have flowers suitable for all occasions, whether it is a Wedding, Birthday, Anniversary, Dinner Party, or a Funeral. We are confident that you won't be disappointed in our products or  services.
        </p>
        <h5><b>Funerals</b></h5>
        <p>
            Flowers provide a unique opportunity to express your feelings when saying  goodbye or help bring comfort to those who have lost a loved one.
        </p>
        <p>
            Funeral flowers such as funeral wreaths, funeral sprays and name tributes  require special attention as they are prepared. At Sian’s Flowers we will be happy to consult with you to design a fitting floral tribute.
        </p>
        <p>All funeral flowers will be hand delivered a couple of hours prior to  the funeral as we will work as closely as possible with the funeral  director to ensure that your funeral flowers remain as fresh and vibrant looking at the actual funeral service</p>
    </div>

    <div class="column-right">

        <div class="carousel-right">
            <Carousel AutoStart="false"
                      ShowControls="true"
                      ShowIndicators="true">

                <CarouselItem ImageScaling="ImageScaleMode.Fill"
                              ImageUrl="../images/ar1.jpg">

                </CarouselItem>
                <CarouselItem ImageScaling="ImageScaleMode.Fill"
                              ImageUrl="../images/ar2.jpg">

                </CarouselItem>


            </Carousel>


        </div>
        <div class="bottom-list">
            <ol class="item-list">
                <li><i class="fas fa-leaf"></i>Wreaths</li>
                <li><i class="fas fa-leaf"></i>Tributes</li>
                <li><i class="fas fa-leaf"></i>Posys</li>
                <li><i class="fas fa-leaf"></i>Sheafs</li>
                <li><i class="fas fa-leaf"></i>Coffin Sprays</li>
                <li><i class="fas fa-leaf"></i>Sympathy Flowers</li> 
            </ol>
        </div>
    </div>
</div>



